h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px 0px 10px 20px;
  transition: 0.5s ease;
  &::selection {
    background-color: pink;
  }
}

.hr {
  background-color: #97a3c5;
  height: 5px;
  width: 100%;
  border-radius: 10px;
}
.heading-dec {
  height: 15px;
  width: 15px;
  background-color: #838094;
  border-radius: 4px;
  display: inline-block;
  transform: rotate(45deg);
  margin-right: 10px;
  margin-bottom: 2px;
  transition: 0.5s ease;
}
h1:hover .heading-dec {
  transform: rotate(90deg);
}
#container {
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: rgb(238, 238, 252);
  margin: 0px 20px;
  margin-top: 10px;
}
.img-cont {
  height: 20rem;
  width: 15rem;
  margin: 10px 5px;
  border-radius: 20px;
  overflow: hidden;
}
.img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 0.5s;
  &:hover {
    transform: scale(1.05);
  }
}
.btn {
  padding: 15px 25px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 15px;
  color: #fff;
  border: none;
  outline: none;
  background-color: #6f79ec;
  cursor: pointer;
  &:hover {
    background-color: #6f79ecf5;
  }
  &:active {
    background-color: rgba(100, 148, 237, 0.927);
  }
}
.btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}
