* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
header {
  position: sticky;
  top: 0px;
  background-color: rgba(105, 85, 240, 0.507);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  z-index: 10;
}
h1 {
  padding: 10px 0px 10px 20px;
  transition: 0.5s ease;
  &::selection {
    background-color: pink;
  }
}

.heading-dec {
  height: 15px;
  width: 15px;
  background-color: #838094;
  border-radius: 4px;
  display: inline-block;
  transform: rotate(45deg);
  margin-right: 10px;
  margin-bottom: 2px;
  transition: 0.5s ease;
}

h1:hover .heading-dec {
  transform: rotate(90deg);
}

#container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: rgb(238, 238, 252);
  padding-top: 10px;
  overflow: hidden;
  padding: 0px 15px;
  padding-bottom: 20px;
}

.img-cont {
  height: 20rem;
  width: 15rem;
  margin: 10px 5px;
  border-radius: 20px;
  overflow: hidden;
}

.img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 0.5s;
  &:hover {
    transform: scale(1.05);
  }
}

.btn {
  padding: 15px 25px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 15px;
  color: #fff;
  border: none;
  outline: none;
  background-color: #6f79ec;
  cursor: pointer;
  &:hover {
    background-color: #6f79ecf5;
  }
  &:active {
    background-color: rgba(100, 148, 237, 0.927);
  }
}

.btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}

/* to make container (img-con) responsive */
@media screen and (max-width: 576px) {
  .img-cont {
    height: 9rem;
    width: 7rem;
  }
  #container {
    padding: 0px 5px;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .img-cont {
    height: 12rem;
    width: 9rem;
  }
  #container {
    padding: 0px 10px;
  }
}
